<nav class="navbar navbar-default" ng-controller="ToolbarController as vm">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Q&A</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Take a Test<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="topic1 in vm.topics | unique:'topic'">
                            <a href="#">{{topic1.topic}}</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#">Scoresheet</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Add<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Add Question</a></li>
                        <li><a href="#">Add Topic</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Add User Profile</a></li>
                        <li><a href="#">Update User Profile</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Login</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">User name<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>